CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, textarea,img, div{border:0;margin:0;padding:0;}
em{font-style:normal;}
ul, ol{list-style:none;}
a,input{outline:none;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,p,span,a{border:0;padding:0px;margin:0px;}
table,th,td,{padding:0px;margin:0px;}
th,td,input{font-size:12px;}
ul{margin:0;padding:0;}
a{text-decoration:none;}
a,input，select,textarea,option{outline:none;}
option::-ms-expand{ display: none; }
option{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}

.clear{clear:both;font-size:0px;height:0;visibility:hidden;line-height:0;}
.clear_r{clear:right;font-size:0px;height:0;visibility:hidden;line-height:0;}
.clear_l{clear:left;font-size:0px;height:0;visibility:hidden;line-height:0;}
.hidden{display:none;}
.clearfix:after {content: " ";display:block;clear:both;height:0;}
.clearfix{zoom:1;}
body{font-size:16px;color:#333333;font-family:"Microsoft YaHei";background:#ffffff;margin:0;padding:0;}
.main{width:1100px;overflow: hidden;margin:0px auto;}
.top{width:100%;height:70px;}
.logo{width:181px;height:48px;margin-top: 11px;float: left;}
.top p{display: inline-block;float: right;line-height: 70px;font-size: 18px;color:#333;}


.shangchuan{width:80px;height:34px;display: inline-block;font-size: 16px;}
.pigai_img img{width:980px;height:100%;}
.jg_s{display: none;}
.ssg h6{display: inline-block;width:180px;height:40px;text-align: center;line-height: 40px;font-size: 18px;background: #efefef;margin-right:40px;color:#333;font-weight:normal;margin-bottom:30px; cursor:pointer;}
.ssg .hot{background: #257f90;color:#fff;}

.cxjg{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    zoom: 1;
    background: #2f2e2e;
    z-index: 999;
    width:100%;
    height:100%;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}
.cxjg_1 {
    display:none;
    padding: 6px;
    width: 400;
    height: 300;
    background: #fff;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    padding:40px 30px;
    text-align: left;
}
.cxjg_1 .lsjg{margin-bottom:20px;overflow: hidden;line-height: 34px;}
.cxjg_1 .lsjg span{display: inline-block;width:120px;float: left;text-align: right;}
.cxjg_1 .lsjg input{width:180px;height:34px;line-height: 34px;font-size: 16px;color:#333;display: inline-block;float: left;}
.cxjg_1 .lsjg img{display: inline-block;float: left;margin-top: 2px;margin-left: 6px;}
.ttj{width:180px;height:34px;background: #333;margin:30px auto;}
.chakan{width:180px;height:34px;line-height: 34px;text-align: center;color:#fff;border:0;background: none;font-size: 18px;}

.jg_tu{width:100%;height:158px;background: url(../images/jieguo.jpg) no-repeat center 0;}
.xia1{margin-bottom: 30px;}
.jg_tu h2{text-align: center;font-size: 30px;line-height: 158px;color:#fff;}
.jg_tu h2 span{font-size: 40px;display: inline-block;margin-right:20px;color:#fafc01;}
.jg_tu ul{width:1100px;outline: hidden;}
.jg_top{width:1060px;height:40px;line-height: 40px;background: #43aabd;font-size: 18px;color:#fff;padding-left: 40px;}
.jg_top span{margin-right: 40px;}