.cc_middle{
	min-height: 1040px;
	width: 1000px;
	margin:0 auto;
}
.position{
	margin-top:10px;
	width: 100%;
	text-align: left;
}
.cc_m_left{
	float: left;
	width: 69%;
}
.shaixuan{
	width: 100%;
	background: #eee;
	margin-top:10px;
}
.shaixuan ul li{
	padding: 10px;
}
.shaixuan ul li span{
	display: inline-block;
	width: 70px;
	text-align: justify;
}
.shaixuan ul li a{
	cursor:pointer;
	padding: 10px;
}
.shaixuan_on{
	color:#1174B0;
}
.cc_ml_hd{
	height: 3px;
	background: #1174b0;
}
.cc_ml_list{
	width: 100%;
	margin-top:10px;
	border: 1px solid #eee;
}
.cc_ml_box{
	width: 100%;
	margin:0 auto;
}
.cc_ml_box ul{
	width: 100%;
	margin:0 auto;
	/*padding: 10px;*/
}
.cc_ml_box ul li{
	width: 100%;
	padding: 10px;
	margin:0 auto;
	display: block;
	text-align:justify;
}
.cc_ml_box ul li p{
	padding: 1%;
	display: inline-block;
}
.cc_ml_box ul li span{
	display: inline-block;
	padding: 1%;
}
.through{
	text-decoration: line-through;
	color:#aaa;
}
.cc_ml_box ul li div{
	padding: 5px;
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #17B;
	border-radius: 27px;
	font-size: 27px;
}
.cc_ml_box ul li div img{
	position:relative;
	left:0px;
	top:4px;
	width: 28px;
	height: 28px;
}
