.all_right { width: 30%; float: right; }
.right_kkxx { border: 1px solid #ccc; }
.blue_hd { margin-top: 10px; margin-left: 10px; height: 30px; background: url(../images/red_hd.png) left no-repeat;	/*background: url(../images/blue_hd.png) left no-repeat;*/ }
.blue_hd span { height: 30px; line-height: 30px; margin-left: 20px; font-family: '微软雅黑 Regular', '微软雅黑'; font-weight: 400; font-style: normal; font-size: 16px; color: #000; }
.kkxx_ul { padding: 10px; margin: 0 auto; }
.kkxx_ul li { padding: 5px; }
.right_sttj { margin-top: 5px; border: 1px solid #ccc; padding: 5px; }
.sttj_div { width: 90%; margin-top: 10px; margin-left: 10px; margin: 0 auto; padding: 5px; text-align: center; }
.sttj_div span { padding: 5px; display: block; }
.sttj_pic img { width: 210px; height: 120px; }
.right_zlzx { margin-top: 5px; border: 1px solid #ccc; padding: 5px; }
.zlzx_ul { padding: 10px; margin: 0 auto; }
.zlzx_ul li { padding: 5px; display: inline-block; }
.zlzx_ul span { float:left; background: url('../images/zbgg_off.png'); background-repeat: no-repeat; width: 18px; height: 18px; display: -moz-inline-box; display: inline-block; color: #fff; text-align: center; line-height: 18px; }
.zlzx_ul p { float: left; }
.right_zxmk { height: 200px; margin-top: 5px; border: 1px solid #ccc; padding: 5px; }
.zxmk_ul { width: 90%; padding: 10px; margin: 0 auto; }
.zxmk_ul li { padding: 5px; }
.zxmk_ul div { width: 20%; border: 1px solid #ccc; border-radius: 20px; width: 40px; height: 40px; float: left; text-align: center; }
.zxmk_ul img { margin-top: 5px; margin-left: 0px; width: 70%; height: 70%; }
.zxmk_ul span { width: 79%; margin-left: 10px; display: inline-block; }
.filter_div { position: relative; top: -39px; left: -1px; opacity: 0.8421; color: #fff; background: #aa2222;	/*background: #1173e0;*/ }
.more_plus { margin-right: 30px; height: 40px; float: right; opacity: 0.381; color: #000; }
.more_plus a { color: red; }
