<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>exam_info_index_html</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="太奇兴宏程,一级建造师,二级建造师"/>
	<meta name="description" content="太奇兴宏程作为建造师精准信息专家，一级建造师培训、二级建造师培训高通过率,零基础拿证,在中国每两个建造师就有一个来自太奇兴宏程"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="http://www.xhcedu.com/wap/style/new_mip.css" />
	<link rel="stylesheet" href="http://www.xhcedu.com/wap/style/exam_mobile.css" />

	<script type="text/javascript" src="{APP_PATH}statics_EXAM/js/jquery1.7.1.js"></script>
	<script type="text/javascript" src="{APP_PATH}statics_EXAM/js/ajax.js"></script>
	<script type="text/javascript" src="{APP_PATH}statics_EXAM/js/low_validate.js"></script>

</head>
<body>
	{template "mobile","header_m"}
	
	<div id="exam_form">
		<form method="post" name="get_info_form" id="get_info_form" action="index.php?m=exam&c=index&a=collect_exam_visitor_info">
			<ul>
				<li>
					<span>考试科目:</span>
					<select name="cat_level_1" id="select_1" class="select_ajax">
						<option value ="">-请选择-</option>
						<?php foreach($category_one as $key=>$val){?>
						<option value ="{$val['catid']}">{$val['catname']}</option>
						<?php }?>
					</select>
				</li>
				<li>
					<span>考生姓名:</span>
					<input type="text" name="name" id="name" value="" placeholder="请填写姓名" />
				</li>
				<li>
					<span>手机号码:</span>
					<input type="text" name="mobile" id="mobile" value="" placeholder="请填11位手机号码" />
				</li>
				<li>
					<input type="button" id="get_info_ajax_button" value="确定">
				</li>
			</ul>
		</form>
	</div>

	{template "mobile","footer_m"}
</body>
</html>
