
<div class="m11">
	<div class="m11_biao"></div>
	<div class="main">
		<div class="map"><img src="http://www.tqmpacc.com/statics/new_index/images/map.gif"></div>
		<ul>
			<li><a href="http://beijing.tqmpacc.com/" target="_blank">北京</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">长春</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">长沙</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">重庆</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">大连</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">福州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">广州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">杭州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">合肥</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">洛阳</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">南京</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">南昌</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">石家庄</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">沈阳</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">苏州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">深圳</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">天津</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">太原</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">武汉</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">无锡</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">西安</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">徐州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">厦门</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">镇江</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">郑州</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">新疆</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">贵阳</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">南宁</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">南通</a></li>
	      <li><a href="http://beijing.tqmpacc.com/" target="_blank">保定</a></li>
		</ul>
	</div>
	<div class="footer">
		<div class="foot_left">
			<p>海淀总部：北京市海淀区中关村大街18号科贸中心A座19层</p>
			<span>咨询电话：010-62138466 82865280</span>
			<div class="ckdt"><a target="_blank" href="http://j.map.baidu.com/GLY7e">查看地图</a></div>
		</div>
		<div class="foot_right">
			<p>朝阳校区：北京市朝阳区劲松华腾北塘商务大厦7层716室</p>
			<span>咨询电话：010-52893105 52893103</span>
			<div class="ckdt"><a target="_blank" href="http://j.map.baidu.com/-TSMH">查看地图</a></div>
		</div>
	</div>
</div>


<div class="list">
    	<div class="lof4t"><strong>友情链接</strong></div>
        <div class="lof4 friend-link">
        	<ul>
                <li><a href="http://www.tqkaoyan.com" title="太奇考研" target="_blank">太奇考研</a></li>
                <li><a href="http://www.taiqimba.com" title="太奇mba" target="_blank">太奇mba</a></li>
                <li><a href="http://www.tqmpacc.com" title="太奇MPAcc" target="_blank">太奇MPAcc</a></li>
                <li><a href="http://www.taiqiedu.com" title="太奇教育" target="_blank">太奇教育</a></li>
            </ul>
        </div>
    </div>

<div class="footer_o">
<!--mb&&kk-->
<!-- <script type="text/javascript" src="http://www.xhcedu.com/2014topic/bottom_common.js?v=1530859209"></script> -->
<!-- WPA Button Begin -->

<!-- WPA Button END -->
	<div class="main">
		<script type="text/javascript" src="http://www.xhcedu.com/15topic/footer_address.js"></script>
    </div>
</div>
